body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: radial-gradient(rgb(253, 17, 17), rgb(48, 23, 23));
  }
  div.nav-wrapper, footer.page-footer {
      background-image: linear-gradient(orange, black);
  }
  
  main {
    flex: 1 0 auto;
    background-color: rgb(255, 235, 205)
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .card {
      background-image: linear-gradient(to right, rgb(185, 105, 30), rgba(0, 0, 0, 0.911));
  }

  .card-title {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: crimson;
  }
  