body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1568018508399-e53bc8babdde?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFtZW4lMjBzaG9wfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
  }
  div.nav-wrapper, footer.page-footer {
      background-image: linear-gradient(orange, black);
  }
  
  main {
    flex: 1 0 auto;
    background-color: rgb(160, 125, 73, 0.9);
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .card {
      background-image: linear-gradient(to right, rgb(185, 105, 30), rgba(0, 0, 0, 0.3));
  }

  .card-title {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
  }

  .card-content {
      color: brown;
  }
  
  h1 {
    text-align: center;
  }

  label {
    color: gold;
  }