{% extends 'base.html' %}
{% block content %}

<h1>Spot Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ ramen.name }}</span>
    <p>Price: {{ ramen.price }}</p>
    <p>Description: {{ ramen.description }}</p>
    {% if ramen.rating > 0 %}
      <p>Rating: {{ ramen.rating }}</p>
    {% else %}
      <p>Not yet rated</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'ramen_update' ramen.id %}">Edit</a>
    <a href="{% url 'ramen_delete' ramen.id %}">Remove</a>
  </div>
</div>
{% for photo in ramen.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel red-text center-align">You haven't uploaded anything yet.</div>
{% endfor %}
<form action="{% url 'add_photo' ramen.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
{% endblock %}